@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  line-height: 1.3;
  color: #222;
  font-family: 'Crimson Text', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 17px;
}

h1 {
  margin: 1em 0;
}
article header {
  border-bottom: 1px solid #999;
}

article header p {
  font-style: italic;
  margin-top: 0;
}

article > p:last-child {
  border-bottom: 1px solid #999;
}

article > p:first-child {
  margin-top: 20rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
}

.quote {
  color: #999;
}

@media only screen and (min-width: 25em;) {
  html {
    font-size: 110%
  }
}

@media only screen and (min-width: 38em;) {
  html {
  }
}

@media only screen and (min-width: 60em;) {

}

@media only screen and (min-width: 90em;) {

}


- `margin`
- `padding`
- `font`
- `font-size`
- `line-height`

*Typefaces:* `Crimson Text`
- *Standard media query widths:* `38em`, `60em`, `90em`
- *For the best vertical rhythm:* remove the top margins from thin
